<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

In [2]:


#Part 1 requires knowledge of basic Python.
#B

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTSTTakr12,...,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11,PctMathBenchmark11,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11,Year,Unnamed: 25
0,6.615981e+12,6.0,661598.0,630046.0,S,Colusa Alternative Home,Colusa Unified,Colusa,18.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,6.616061e+12,6.0,661606.0,634758.0,S,Maxwell Sr High,Maxwell Unified,Colusa,29.0,10.0,...,*,*,*,*,*,*,*,*,2018-19,NaN
2,1.964733e+13,19.0,1964733.0,1930924.0,S,Belmont Senior High,Los Angeles Unified,Los Angeles,206.0,102.0,...,42,24.14,12,6.90,14,13.73,11,6.32,2018-19,NaN
3,1.964733e+13,19.0,1964733.0,1931476.0,S,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227.0,113.0,...,97,35.27,37,13.45,18,15.93,35,12.73,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1931856.0,S,Whitman Continuation,Los Angeles Unified,Los Angeles,18.0,14.0,...,*,*,*,*,*,*,*,*,2018-19,NaN

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTstTakr,AvgScrRead,AvgScrEng,AvgScrMath,AvgScrSci,NumGE21,PctGE21,Year,Unnamed: 17
0,3.366993e+13,33.0,3366993.0,129882.0,S,21st Century Learning Institute,Beaumont Unified,Riverside,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,1.964212e+13,19.0,1964212.0,1995596.0,S,ABC Secondary (Alternative),ABC Unified,Los Angeles,58.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
2,1.563776e+13,15.0,1563776.0,1530377.0,S,Abraham Lincoln Alternative,Southern Kern Unified,Kern,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
3,4.369666e+13,43.0,4369666.0,4333795.0,S,Abraham Lincoln High,San Jose Unified,Santa Clara,463.0,53.0,23,22,22,23,34,64.15,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1935121.0,S,Abraham Lincoln Senior High,Los Angeles Unified,Los Angeles,226.0,19.0,21,20,23,22,11,57.89,2018-19,NaN

In [8]:
type(ca_sat_2019)
type(ca_act_2019)

pandas.core.frame.DataFrame

*As the Mayor and Mayors around this state are aware, standardized tests provide only a snapshot of student performance. These snapshots often define whether the educational agenda of each of your programs is successful. With this in mind, this data analysis seeks to benchmark which test this city and the state of California should institute as a requirement for its college-bound students. The SAT and ACT  are compared to determine which test best reflects the achievement of California's students and which test results should be promoted to support your political agenda.*

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university. However, despite growth in locally determined outcomes, the SAT and ACT snapshots often are seen as the main evaluation point by your constituents. To the extent our students score well, it allows us greater political capital to institue educational reforms. It is imperative that we choose and mandate by state and local regulations which test demonstrates higher scores and bests represents our students' achievements.

This requires us to analyze the format and results of the SAT and ACT. The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)).  The score rangesEDITThey have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

It is important to also keep in mind that standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from students' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).
Even with this trend, our political calculus has not changed. Most people in our districts use SAT and ACT has shorthand. Therefore, we recomment you choose ACTSAT

**To-Do:** *Fill out this cell (or edit the above cell) with any other background or information that is necessary for your problem statement.*

### California ACT and SAT datasets from 2018 - 2019 were used in this analysis.

* [`act_2019_ca.csv`](./data/act_2019_ca.csv): 2019 ACT Scores in California by School, District, and County. 

    The total number of testtakers is listed.The average scores for the four parts of the test (English, Reading, Math, and Science) is listed. The composite score of the four parts is benchmarked by listing the number of students greater than or equal to the score 21 is also listed.

* [`sat_2019_ca.csv`](./data/sat_2019_ca.csv): 2019 SAT Scores in California by School, District and County. 

    The total number of testakers is listed. The dataset also breaks the scores down by grade level. Benchmarks are listed for the two measurement categories. First, the number of students who met or exceeded the benchmark for reading & writing is listed. Second, the number of students who met or exceeded the benchmark for math. There is also a category for meeting both benchmarks.

**To-Do:** *Fill out this cell with the datasets you will use for your analysis. Write a brief description of the contents for each dataset that you choose.*

### Outside Research

IF NO OUTSIDE RESEARCH< DELETEBased on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

**To-Do:** *Fill out this cell with outside research or any additional background information that will support your analysis.*

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [2]:
# Mean Code:
meannumberstry=[5,9,3]
def mean_wo_np(meannumbers):
    return (sum(meannumbers))/len(meannumbers)
mean_wo_np(meannumberstry)

5.666666666666667

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [3]:
# Code: Standard Deviation Calculation
meannumberstry=[1,8,-4,9,6]
def standard_deviation(stdmeannumbers):
    return (sum([((stdmeannumber-mean_wo_np(stdmeannumbers))**2)\
            for stdmeannumber in stdmeannumbers])/len(stdmeannumbers)) ** .5


standard_deviation(meannumberstry)

4.857983120596447

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [150]:
# Code for turning percents into decimals

def percent_decimal(percent_input):
    return (float(percent_input.strip('%')))/100
percent_decimal('191%')

def already_percent_gone_to_dec(nondecimal):
    return (float(nondecimal))/100
already_percent_gone_to_dec(90)
    
#Source used for this function:https://stackoverflow.com/questions/12432663/what-is-a-clean-way-to-convert-a-string-percent-to-a-float

0.9

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [34]:
# Imports:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Data import of California 2018-2019 ACT and SAT datasets used in analysis
ca_sat_2019 = '../data/sat_2019_ca.csv'
ca_act_2019 = '../data/act_2019_ca.csv'

In [35]:
dfa = pd.read_csv(ca_act_2019)
dfs = pd.read_csv(ca_sat_2019)

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

In [7]:
# Code for Data Import and Cleaning:

#First 5 rows of SAT data frame code is below
dfs.head()

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTSTTakr12,...,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11,PctMathBenchmark11,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11,Year,Unnamed: 25
0,6.615981e+12,6.0,661598.0,630046.0,S,Colusa Alternative Home,Colusa Unified,Colusa,18.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,6.616061e+12,6.0,661606.0,634758.0,S,Maxwell Sr High,Maxwell Unified,Colusa,29.0,10.0,...,*,*,*,*,*,*,*,*,2018-19,NaN
2,1.964733e+13,19.0,1964733.0,1930924.0,S,Belmont Senior High,Los Angeles Unified,Los Angeles,206.0,102.0,...,42,24.14,12,6.90,14,13.73,11,6.32,2018-19,NaN
3,1.964733e+13,19.0,1964733.0,1931476.0,S,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227.0,113.0,...,97,35.27,37,13.45,18,15.93,35,12.73,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1931856.0,S,Whitman Continuation,Los Angeles Unified,Los Angeles,18.0,14.0,...,*,*,*,*,*,*,*,*,2018-19,NaN

In [8]:
#First 5 rows of ACT data frame code is below
dfa.head()

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTstTakr,AvgScrRead,AvgScrEng,AvgScrMath,AvgScrSci,NumGE21,PctGE21,Year,Unnamed: 17
0,3.366993e+13,33.0,3366993.0,129882.0,S,21st Century Learning Institute,Beaumont Unified,Riverside,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,1.964212e+13,19.0,1964212.0,1995596.0,S,ABC Secondary (Alternative),ABC Unified,Los Angeles,58.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
2,1.563776e+13,15.0,1563776.0,1530377.0,S,Abraham Lincoln Alternative,Southern Kern Unified,Kern,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
3,4.369666e+13,43.0,4369666.0,4333795.0,S,Abraham Lincoln High,San Jose Unified,Santa Clara,463.0,53.0,23,22,22,23,34,64.15,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1935121.0,S,Abraham Lincoln Senior High,Los Angeles Unified,Los Angeles,226.0,19.0,21,20,23,22,11,57.89,2018-19,NaN

In [9]:
#checking data types
dfa.dtypes

CDS            float64
CCode          float64
CDCode         float64
SCode          float64
RType           object
SName           object
DName           object
CName           object
Enroll12       float64
NumTstTakr     float64
AvgScrRead      object
AvgScrEng       object
AvgScrMath      object
AvgScrSci       object
NumGE21         object
PctGE21         object
Year            object
Unnamed: 17    float64
dtype: object

In [10]:
#checking data types
dfs.dtypes

CDS                      float64
CCode                    float64
CDCode                   float64
SCode                    float64
RType                     object
SName                     object
DName                     object
CName                     object
Enroll12                 float64
NumTSTTakr12             float64
NumERWBenchmark12         object
PctERWBenchmark12         object
NumMathBenchmark12        object
PctMathBenchmark12        object
Enroll11                 float64
NumTSTTakr11             float64
NumERWBenchmark11         object
PctERWBenchmark11         object
NumMathBenchmark11        object
PctMathBenchmark11        object
TotNumBothBenchmark12     object
PctBothBenchmark12        object
TotNumBothBenchmark11     object
PctBothBenchmark11        object
Year                      object
Unnamed: 25              float64
dtype: object

In [11]:
dfs.isnull().sum()

CDS                         1
CCode                       1
CDCode                      1
SCode                       1
RType                       1
SName                     598
DName                      59
CName                       1
Enroll12                    1
NumTSTTakr12                1
NumERWBenchmark12         276
PctERWBenchmark12         276
NumMathBenchmark12        276
PctMathBenchmark12        276
Enroll11                    1
NumTSTTakr11                1
NumERWBenchmark11         311
PctERWBenchmark11         311
NumMathBenchmark11        311
PctMathBenchmark11        311
TotNumBothBenchmark12     276
PctBothBenchmark12        276
TotNumBothBenchmark11     311
PctBothBenchmark11        311
Year                        1
Unnamed: 25              2580
dtype: int64

In [13]:
dfa.isnull().sum()

CDS               1
CCode             1
CDCode            1
SCode           523
RType             1
SName           581
DName            59
CName             1
Enroll12          1
NumTstTakr        1
AvgScrRead      357
AvgScrEng       357
AvgScrMath      357
AvgScrSci       357
NumGE21         357
PctGE21         357
Year              1
Unnamed: 17    2310
dtype: int64

In [15]:
dfs.SCode.unique()

array([ 630046.,  634758., 1930924., ..., 5032651.,       0.,      nan])

In [59]:
# Change the column names using the `.rename()` function for SAT
# Original column: renamed column
srename_map = {'CDS': 'county_district_school_code','CCode': 'county_code', 'CDCode': 'district_code','SCode':'school_code','RType': 'record_type'\
    , 'SName': 'school_name','DName': 'district_name', 'CName': 'county_name', 'Enroll12': '_12th_grade_enrollment', 'NumTSTTakr12': 'test_taker_count_12thgrade'\
               ,'NumERWBenchmark12': 'number_that_passed_reading_writing_standard_12thgrade', 'PctERWBenchmark12': 'percent_that_passed_reading_writing_standard_12thgrade', 'NumMathBenchmark12': 'number_that_passedorabove_math_standard_12thgrade'\
   , 'PctMathBenchmark12':'percent_that_passedorabove_math_standard_12thgrade', 'Enroll11':'_11th_grade_enrollment', 'NumTSTTakr11':'test_taker_count_11thgrade', 'NumERWBenchmark11': 'number_that_passed_math_standard_11thgrade','PctERWBenchmark11':'percent_that_passed_reading_writing_standard_11thgrade', 'NumMathBenchmark11':'number_that_passedorabove_math'\
, 'PctMathBenchmark11': 'percent_that_passedorabove_math_standard_11thgrade','TotNumBothBenchmark12':'number_that_passed_both_12thgrade' , 'PctBothBenchmark12': 'percent_that_passed_both_12thgrade','TotNumBothBenchmark11':'number_that_passed_both_11thgrade', 'PctBothBenchmark11':'percent_that_passed_both_11thgrade', 'Year':'year','Unnamed: 25':'unnamed_25'}

dfs = pd.read_csv(ca_sat_2019)

dfs.rename(columns = srename_map, inplace = True)
dfs.head()

,county_district_school_code,county_code,district_code,school_code,record_type,school_name,district_name,county_name,_12th_grade_enrollment,test_taker_count_12thgrade,...,number_that_passed_math_standard_11thgrade,percent_that_passed_reading_writing_standard_11thgrade,number_that_passedorabove_math,percent_that_passedorabove_math_standard_11thgrade,number_that_passed_both_12thgrade,percent_that_passed_both_12thgrade,number_that_passed_both_11thgrade,percent_that_passed_both_11thgrade,year,unnamed_25
0,6.615981e+12,6.0,661598.0,630046.0,S,Colusa Alternative Home,Colusa Unified,Colusa,18.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,6.616061e+12,6.0,661606.0,634758.0,S,Maxwell Sr High,Maxwell Unified,Colusa,29.0,10.0,...,*,*,*,*,*,*,*,*,2018-19,NaN
2,1.964733e+13,19.0,1964733.0,1930924.0,S,Belmont Senior High,Los Angeles Unified,Los Angeles,206.0,102.0,...,42,24.14,12,6.90,14,13.73,11,6.32,2018-19,NaN
3,1.964733e+13,19.0,1964733.0,1931476.0,S,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227.0,113.0,...,97,35.27,37,13.45,18,15.93,35,12.73,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1931856.0,S,Whitman Continuation,Los Angeles Unified,Los Angeles,18.0,14.0,...,*,*,*,*,*,*,*,*,2018-19,NaN

In [94]:
# Change the column names using the `.rename()` function for ACT.

arename_map = {'CDS': 'county_district_school_code','CCode': 'county_code', 'CDCode': 'district_code','SCode':'school_code','RType': 'record_type', 'SName': 'school_name','DName': 'district_name', 'CName': 'county_name','Enroll12': '_12th_grade_enrollment', 'NumTstTakr': 'test_taker_count','AvgScrRead':'average_reading_score', 'AvgScrEng':'average_english_score', 'AvgScrMath':'average_math_score', 'AvgScrSci':'average_science_score', 'NumGE21':'number_of_composite_results_21andup', 'PctGE21':'percent_of_composite_results_21andup', 'Year':'year','Unnamed: 17':'unnamed_17'}
# Original column: renamed column

dfa = pd.read_csv(ca_act_2019)

dfa.rename(columns = arename_map, inplace = True)
dfa.head()

,county_district_school_code,county_code,district_code,school_code,record_type,school_name,district_name,county_name,_12th_grade_enrollment,test_taker_count,average_reading_score,average_english_score,average_math_score,average_science_score,number_of_composite_results_21andup,percent_of_composite_results_21andup,year,unnamed_17
0,3.366993e+13,33.0,3366993.0,129882.0,S,21st Century Learning Institute,Beaumont Unified,Riverside,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,1.964212e+13,19.0,1964212.0,1995596.0,S,ABC Secondary (Alternative),ABC Unified,Los Angeles,58.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
2,1.563776e+13,15.0,1563776.0,1530377.0,S,Abraham Lincoln Alternative,Southern Kern Unified,Kern,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
3,4.369666e+13,43.0,4369666.0,4333795.0,S,Abraham Lincoln High,San Jose Unified,Santa Clara,463.0,53.0,23,22,22,23,34,64.15,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1935121.0,S,Abraham Lincoln Senior High,Los Angeles Unified,Los Angeles,226.0,19.0,21,20,23,22,11,57.89,2018-19,NaN

In [95]:
#dfs.county_district_school_code.unique()
#coded numbers-not needed-float

#dfs.county_code.unique()
#there is a NaN and other numbers appear to correpsond to the code above. There appear to be county listed\
#records as well as by school to show multple aggregates--float

#dfs.district_code.unique()
#there is a Nan and there appear to be unique numbers otherwise- in float

#dfs.school_code.unique()
#There is a Nan and there appear to be unique numbers otherwise-float

#dfs.record_type.unique()
# Four relevant values-stay as object but NAN

#dfs.school_name.unique()
#seems good except for one nan

#dfs.district_name.unique()
#stay as object and unique values

#dfs.county_name.unique()
#unique values-one nan and stay as object

#dfs._12th_grade_enrollment.unique()
#unique values and a nan

#dfs.test_taker_count_12thgrade.unique()
#unique values and a nan

#dfs.number_that_passed_reading_writing_standard_12thgrade.unique()
#there is a nan and * that need to be removed--*represents no reporting

#dfs.percent_that_passed_reading_writing_standard_12thgrade.unique()
#there is a nan and * that need to be removed--*represents no reporting

#dfs.number_that_passedorabove_math_standard_12thgrade.unique()
#unique values

#dfs.percent_that_passedorabove_math_standard_12thgrade.unique()
#nan and * need to be removed

#dfs.number_that_passed_both_12thgrade.unique()
#nan and * need to be removed

#dfs.percent_that_passed_both_12thgrade.unique()
#nan and * need to be removed.

#dfs._11th_grade_enrollment.unique()
#nan needs to be removed

#dfs.test_taker_count_11thgrade.unique()
#one nan needs to be removed

#dfs.number_that_passed_math_standard_11thgrade.unique()
#Nan and * need to be removed

#dfs.percent_that_passed_reading_writing_standard_11thgrade.unique()
#nan and * need to be removed

#dfs.number_that_passedorabove_math.unique()
#nan and * need to be removed

#dfs.percent_that_passedorabove_math_standard_11thgrade.unique()
#nan and * need to be removed

#dfs.number_that_passed_both_11thgrade.unique()
#nan and * need to be removed

#dfs.percent_that_passed_both_11thgrade.unique()
#nan and * need to be removed

#dfs.year.unique()
#nan and 2018-2019--useless column-remove

#dfs.unnamed_25.unique()
#Only nan-remove column

In [116]:
#dfa.county_district_school_code.unique()
#Nan needs to be removed

#dfa.county_code.unique()
#Nan needs to be removed

#dfa.district_code.unique()
#there is a nan and a 0, which doesnt make sense for a code identifier. Shouldnt effect results

#dfa.school_code.unique()
#unique values

#dfa.record_type.unique()
#nan needs to be removed

#dfa.school_name.unique()
#unique values.there is a state of California listing, which appears to be an aggregate.

#dfa.district_name.unique()
#there is a state of California listing, which appears to be an aggregate.

#dfa.county_name.unique()
#there is a state of California listing, which appears to be an aggregate. Also a nan

#dfa._12th_grade_enrollment.unique()
#there is a nan that needs to be removed

#dfa.test_taker_count.unique()
#there appears to be a nan

#dfa.average_reading_score.unique()
#there appears to be a nan and * that needs to be removed

#dfa.average_english_score.unique()
#there appears to be a nan and * that needs to be removed.

#dfa.average_math_score.unique()
#there appears to be a nan and * that needs to be removed

#dfa.average_science_score.unique()
#there appears to be a nan and * that needs to be removed

#dfa.number_of_composite_results_21andup.unique()
#there appears to be a nan and * that needs to be removed

#dfa.percent_of_composite_results_21andup.unique()
#there appears to be a nan and * that needs to be removed

#dfa.year.unique()
#all 2018-2019-not needed also a nan

#dfa.unnamed_17.unique()
#all nans - remove column

array([nan, '64.15', '57.89', '9.09', '31.25', '*', '94.44', '93.94',
       '2.94', '28.57', '60.44', '67.39', '81.43', '6.25', '91.40',
       '87.93', '53.96', '74.19', '75.00', '22.82', '88.81', '15.58',
       '8.39', '27.14', '17.50', '14.81', '25.81', '30.57', '13.67',
       '8.14', '10.81', '10.98', '2.80', '8.16', '21.82', '11.24',
       '60.71', '94.12', '92.14', '75.61', '92.65', '34.85', '81.82',
       '85.71', '65.38', '71.15', '17.14', '22.22', '17.24', '10.24',
       '12.50', '20.93', '38.10', '83.13', '66.30', '30.00', '0.00',
       '54.55', '23.08', '81.54', '89.25', '91.15', '90.00', '65.00',
       '32.52', '69.23', '91.56', '61.39', '62.07', '56.25', '27.45',
       '37.04', '30.99', '82.05', '15.91', '52.04', '9.68', '20.53',
       '18.09', '10.42', '11.28', '7.07', '10.17', '34.78', '76.47',
       '22.54', '7.69', '3.57', '16.00', '68.09', '42.86', '47.37',
       '25.49', '30.77', '57.14', '46.00', '68.18', '47.92', '22.86',
       '24.72', '85.14', '12.90', '83.58', '24.07', '74.32', '43.24',
       '70.37', '54.05', '64.71', '47.47', '60.87', '70.83', '95.52',
       '29.57', '90.08', '24.44', '80.00', '58.18', '51.43', '32.81',
       '50.00', '80.85', '83.97', '93.33', '77.78', '77.03', '81.48',
       '19.23', '36.00', '85.16', '84.21', '38.89', '89.23', '76.67',
       '87.68', '41.38', '9.52', '11.76', '3.66', '92.55', '28.13',
       '95.84', '77.31', '60.00', '51.61', '85.43', '40.38', '82.08',
       '71.43', '76.86', '53.85', '42.31', '72.73', '52.63', '39.13',
       '77.36', '35.48', '51.53', '2.61', '52.94', '53.33', '46.43',
       '28.21', '17.39', '31.82', '66.67', '17.95', '45.16', '46.15',
       '22.97', '61.80', '65.79', '69.57', '73.42', '63.00', '42.17',
       '60.61', '41.18', '74.10', '89.86', '73.08', '56.36', '64.77',
       '89.52', '69.05', '20.45', '36.84', '64.52', '75.71', '40.00',
       '19.72', '6.06', '34.38', '5.11', '87.50', '5.17', '7.50', '25.00',
       '29.20', '88.33', '31.48', '78.13', '63.33', '69.93', '29.73',
       '86.71', '63.95', '95.69', '81.90', '11.36', '30.30', '65.12',
       '90.61', '93.75', '34.55', '48.94', '56.92', '43.28', '88.15',
       '78.18', '25.45', '22.06', '6.52', '12.37', '39.66', '87.88',
       '87.77', '57.32', '18.75', '50.75', '4.85', '40.91', '69.03',
       '95.58', '67.82', '59.80', '18.42', '8.77', '3.70', '79.17',
       '35.71', '86.57', '63.16', '20.59', '8.70', '44.83', '6.67',
       '67.57', '20.00', '80.80', '28.00', '53.73', '27.06', '44.59',
       '35.00', '23.81', '38.30', '80.43', '80.95', '50.40', '82.79',
       '53.57', '32.29', '60.42', '44.90', '54.17', '80.28', '59.09',
       '28.44', '71.56', '66.37', '58.42', '63.92', '27.03', '19.79',
       '62.50', '74.07', '27.74', '68.67', '11.11', '40.74', '23.53',
       '27.87', '93.44', '72.22', '33.33', '65.52', '31.91', '86.61',
       '11.86', '8.47', '89.80', '75.86', '81.94', '55.74', '33.93',
       '85.29', '54.46', '82.61', '74.60', '44.94', '31.58', '80.49',
       '12.73', '76.00', '71.19', '60.98', '16.42', '41.03', '58.33',
       '83.54', '36.36', '69.81', '44.74', '10.53', '17.46', '80.27',
       '75.49', '55.26', '87.06', '56.70', '12.20', '34.69', '73.36',
       '9.43', '58.62', '76.92', '23.33', '37.78', '16.13', '43.75',
       '56.76', '80.56', '26.83', '45.83', '56.07', '75.36', '13.49',
       '90.13', '29.33', '77.68', '22.50', '37.50', '45.45', '48.00',
       '10.00', '84.62', '49.32', '31.03', '93.91', '23.79', '43.33',
       '77.56', '14.29', '21.74', '46.51', '36.59', '23.76', '18.18',
       '27.78', '91.37', '92.79', '20.82', '61.36', '35.29', '29.55',
       '82.35', '64.00', '67.14', '55.93', '76.32', '63.64', '18.60',
       '61.54', '38.14', '12.12', '20.56', '66.25', '10.61', '27.55',
       '46.67', '25.71', '39.22', '63.41', '53.70', '69.44', '94.20',
       '83.47', '66.10', '94.64', '79.90', '48.39', '70.00', '24.59',
       '90.30', '71.76', '32.61', '42.22', '83.59', '55.56', '53.13',
       '17.86', '29.10', '12.16', '90.23', '90.24', '34.57', '13.04',
       '70.59', '67.07', '71.88', '48.15', '16.05', '72.88', '6.56',
       '39.39', '42.11', '8.00', '80.81', '24.53', '81.68', '91.07',
       '25.15', '91.80', '58.82', '95.72', '23.68', '71.14', '89.75',
       '4.04', '19.35', '95.93', '19.57', '36.72', '12.77', '78.95',
       '38.18', '14.71', '93.83', '82.14', '89.01', '72.00', '69.59',
       '18.92', '8.54', '80.45', '52.38', '24.05', '79.55', '36.17',
       '70.42', '87.80', '88.89', '91.08', '91.55', '91.95', '49.02',
       '16.33', '52.25', '96.18', '79.05', '85.87', '37.42', '7.41',
       '30.19', '97.17', '31.13', '89.76', '57.78', '47.86', '78.72',
       '30.65', '78.70', '3.92', '77.14', '88.46', '82.76', '81.34',
       '55.00', '52.98', '67.61', '49.79', '51.41', '75.72', '59.69',
       '87.10', '69.97', '80.48', '76.99', '34.72', '73.15', '45.53',
       '65.59', '24.47', '73.33', '67.86', '73.83', '55.91', '53.52',
       '61.41', '41.54', '71.60', '70.69', '78.38', '64.73', '44.98',
       '78.26', '62.20', '64.60', '46.88', '59.86', '28.61', '34.62',
       '67.74', '34.28', '34.77', '41.72', '69.47', '37.87', '62.82',
       '36.49', '48.42', '78.05', '52.41', '44.40', '86.45', '73.13',
       '92.56', '35.94', '80.72', '70.97', '34.49', '94.83', '56.41',
       '48.68', '91.18', '72.26', '73.91', '90.35', '41.88', '64.44',
       '73.81', '74.61', '29.03', '26.74', '89.97', '59.26', '74.74',
       '35.19', '20.12', '24.24', '43.55', '14.00', '8.26', '45.95',
       '87.76', '33.72', '35.57', '49.39', '31.43', '33.80', '34.52',
       '36.73', '79.63', '44.25', '39.64', '61.78', '15.59', '40.28',
       '64.19', '67.41', '52.54', '46.69', '83.71', '16.30', '29.71',
       '27.17', '32.75', '88.26', '57.38', '53.01', '30.83', '90.53',
       '78.93', '83.87', '75.91', '42.82', '78.21', '7.17', '56.64',
       '48.74', '87.34', '71.54', '73.11', '35.83', '23.99', '59.46',
       '69.54', '90.78', '43.10', '30.87', '32.56', '20.29', '63.10',
       '76.19', '55.68', '84.74', '80.73', '56.75', '78.60', '77.23',
       '68.12', '35.28', '77.66', '74.08', '91.92', '70.89', '77.58',
       '63.08', '79.74', '31.21', '54.16', '48.23', '43.66', '26.67',
       '32.16', '34.32', '27.16', '28.46', '46.66', '17.65', '66.14',
       '62.75', '34.15', '62.02', '84.56', '64.69', '20.98', '38.46',
       '44.07', '46.48', '73.20', '36.51', '11.01', '81.25', '29.41',
       '68.97', '31.05', '25.83', '32.50', '65.57', '59.65', '35.69',
       '51.22', '46.08', '61.90', '60.21', '100.00', '82.36', '56.02',
       '89.79', '46.32', '71.00', '78.68', '48.31', '62.80', '47.50',
       '52.46', '55.06', '58.87', '32.77', '52.50', '61.86', '80.46',
       '72.46', '59.55', '74.24', '81.66', '68.41', '81.63', '38.27',
       '71.65', '48.04', '80.40', '54.44', '94.27', '62.59', '96.10',
       '77.39', '86.84', '86.56', '71.33', '69.95', '95.83', '34.24',
       '63.28', '86.67', '72.41', '83.48', '48.28', '62.77', '75.37',
       '22.47', '75.64', '65.96', '60.27', '60.34', '51.27', '68.42',
       '64.76', '77.27', '61.21', '35.59', '55.08', '31.10', '50.79',
       '76.73', '61.97', '85.04', '93.63', '78.57', '34.92', '92.95',
       '42.59', '38.13', '40.48', '61.02', '9.05', '79.41', '10.29',
       '82.47', '71.31', '63.79', '68.49', '32.00', '82.22', '93.16',
       '22.09', '26.19', '37.66', '94.08', '90.05', '70.27', '61.11',
       '40.54', '73.28', '22.64', '83.78', '63.27', '23.46', '26.09',
       '52.24', '54.84', '43.59', '16.90', '84.06', '83.12', '87.02',
       '89.40', '14.47', '21.35', '97.30', '85.42', '44.68', '51.52',
       '38.75', '42.39', '60.94', '84.57', '72.61', '54.76', '69.34',
       '20.69', '34.09', '69.74', '78.46', '15.38', '24.10', '23.66',
       '4.55', '67.50', '32.28', '79.89', '63.49', '83.33', '53.25',
       '2.33', '41.67', '35.14', '91.30', '90.34', '36.56', '29.63',
       '59.32', '90.91', '41.94', '5.56', '78.43', '81.20', '17.36',
       '23.85', '89.32', '51.09', '70.71', '83.41', '64.29', '21.33',
       '44.44', '79.40', '81.29', '70.49', '76.42', '75.70', '84.93',
       '48.98', '46.94', '86.52', '28.06', '42.62', '22.35', '88.00',
       '45.61', '26.88', '79.10', '81.61', '80.60', '55.32', '34.48',
       '62.01', '96.69', '75.21', '28.26', '90.15', '44.12', '22.08',
       '63.11', '74.29', '82.00', '25.35', '86.90', '61.76', '61.73',
       '28.29', '23.21', '83.45', '27.59', '28.77', '75.20', '52.78',
       '15.43', '41.86', '39.47', '69.39', '24.14', '83.19', '21.67',
       '8.33', '39.58', '93.10', '47.62', '69.64', '80.69', '27.84',
       '13.24', '44.93', '2.00', '86.55', '48.91', '67.62', '91.83',
       '82.89', '68.33', '95.51', '42.42', '31.18', '67.92', '42.68',
       '19.05', '53.66', '87.83', '91.86', '93.99', '55.81', '79.14',
       '54.91', '78.82', '21.21', '9.76', '59.38', '67.05', '20.51',
       '54.24', '86.92', '19.01', '51.67', '67.27', '86.72', '58.51',
       '92.31', '43.14', '78.86', '77.55', '86.30', '84.51', '89.29',
       '91.04', '98.18', '18.87', '82.73', '76.36', '62.67', '37.29',
       '16.18', '70.75', '79.81', '57.58'], dtype=object)

In [106]:
# Deleting unnecessary columns including unnamed as they are all nan's and the year is the same for all datafrom both as thas theand year
dfs.drop(columns=['unnamed_25', 'year'],inplace=True)
dfa.drop(columns=['unnamed_17', 'year'], inplace=True)

In [133]:
#asterisk_release_mask = dfs['number_that_passed_reading_writing_standard_12thgrade'].str.contains(*)
#dfs.loc[asterisk_release_mask, 'number_that_passed_reading_writing_standard_12thgrade'] = np.NaN
#dfs.head(15)

SyntaxError: invalid syntax (<ipython-input-133-774c5fde4bf8>, line 1)

In [135]:
#turning asterisks into NaN's
dfs = dfs.replace({'*' : np.NaN})
dfa = dfa.replace({'*': np.NaN})
dfs.head()

,county_district_school_code,county_code,district_code,school_code,record_type,school_name,district_name,county_name,_12th_grade_enrollment,test_taker_count_12thgrade,...,_11th_grade_enrollment,test_taker_count_11thgrade,number_that_passed_math_standard_11thgrade,percent_that_passed_reading_writing_standard_11thgrade,number_that_passedorabove_math,percent_that_passedorabove_math_standard_11thgrade,number_that_passed_both_12thgrade,percent_that_passed_both_12thgrade,number_that_passed_both_11thgrade,percent_that_passed_both_11thgrade
0,6.615981e+12,6.0,661598.0,630046.0,S,Colusa Alternative Home,Colusa Unified,Colusa,18.0,0.0,...,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6.616061e+12,6.0,661606.0,634758.0,S,Maxwell Sr High,Maxwell Unified,Colusa,29.0,10.0,...,26.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.964733e+13,19.0,1964733.0,1930924.0,S,Belmont Senior High,Los Angeles Unified,Los Angeles,206.0,102.0,...,219.0,174.0,42,24.14,12,6.90,14,13.73,11,6.32
3,1.964733e+13,19.0,1964733.0,1931476.0,S,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227.0,113.0,...,333.0,275.0,97,35.27,37,13.45,18,15.93,35,12.73
4,1.964733e+13,19.0,1964733.0,1931856.0,S,Whitman Continuation,Los Angeles Unified,Los Angeles,18.0,14.0,...,17.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [141]:
# Dropping rows with NaN's in these particular columns
dfa1 = dfa.dropna(subset=['_12th_grade_enrollment', 'test_taker_count', 'average_reading_score'\
, 'average_english_score', 'average_math_score', 'average_science_score', 'number_of_composite_results_21andup'\
, 'percent_of_composite_results_21andup']).copy()

dfs1 = dfs.dropna(subset=['_12th_grade_enrollment','test_taker_count_12thgrade','number_that_passed_reading_writing_standard_12thgrade'\
,'percent_that_passed_reading_writing_standard_12thgrade','number_that_passedorabove_math_standard_12thgrade'\
,'percent_that_passedorabove_math_standard_12thgrade','number_that_passed_both_12thgrade'\
,'percent_that_passed_both_12thgrade','_11th_grade_enrollment','test_taker_count_11thgrade'\
,'number_that_passed_math_standard_11thgrade','percent_that_passed_reading_writing_standard_11thgrade'\
,'number_that_passedorabove_math','percent_that_passedorabove_math_standard_11thgrade','number_that_passed_both_11thgrade'\
,'percent_that_passed_both_11thgrade']).copy()

#Source:classmate and https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

In [142]:
print (dfs1.isnull())

      county_district_school_code  county_code  district_code  school_code  \
2                           False        False          False        False
3                           False        False          False        False
5                           False        False          False        False
6                           False        False          False        False
9                           False        False          False        False
...                           ...          ...            ...          ...
2574                        False        False          False        False
2575                        False        False          False        False
2576                        False        False          False        False
2577                        False        False          False        False
2578                        False        False          False        False

      record_type  school_name  district_name  county_name  \
2           False        False          False        False
3           False        False          False        False
5           False        False          False        False
6           False        False          False        False
9           False        False          False        False
...           ...          ...            ...          ...
2574        False         True          False        False
2575        False         True          False        False
2576        False         True           True        False
2577        False         True           True        False
2578        False         True           True        False

      _12th_grade_enrollment  test_taker_count_12thgrade  ...  \
2                      False                       False  ...
3                      False                       False  ...
5                      False                       False  ...
6                      False                       False  ...
9                      False                       False  ...
...                      ...                         ...  ...
2574                   False                       False  ...
2575                   False                       False  ...
2576                   False                       False  ...
2577                   False                       False  ...
2578                   False                       False  ...

      _11th_grade_enrollment  test_taker_count_11thgrade  \
2                      False                       False
3                      False                       False
5                      False                       False
6                      False                       False
9                      False                       False
...                      ...                         ...
2574                   False                       False
2575                   False                       False
2576                   False                       False
2577                   False                       False
2578                   False                       False

      number_that_passed_math_standard_11thgrade  \
2                                          False
3                                          False
5                                          False
6                                          False
9                                          False
...                                          ...
2574                                       False
2575                                       False
2576                                       False
2577                                       False
2578                                       False

      percent_that_passed_reading_writing_standard_11thgrade  \
2                                                 False
3                                                 False
5                                                 False
6                                                 False
9                                                 False
...                                                 ...
2574                                              False
2575                                              False
2576                                              False
2577                                              False
2578                                              False

      number_that_passedorabove_math  \
2                              False
3                              False
5                              False
6                              False
9                              False
...                              ...
2574                           False
2575                           False
2576                           False
2577                           False
2578                           False

      percent_that_passedorabove_math_standard_11thgrade  \
2                                                 False
3                                                 False
5                                                 False
6                                                 False
9                                                 False
...                                                 ...
2574                                              False
2575                                              False
2576                                              False
2577                                              False
2578                                              False

      number_that_passed_both_12thgrade  percent_that_passed_both_12thgrade  \
2                                 False                               False
3                                 False                               False
5                                 False                               False
6                                 False                               False
9                                 False                               False
...                                 ...                                 ...
2574                              False                               False
2575                              False                               False
2576                              False                               False
2577                              False                               False
2578                              False                               False

      number_that_passed_both_11thgrade  percent_that_passed_both_11thgrade
2                                 False                               False
3                                 False                               False
5                                 False                               False
6                                 False                               False
9                                 False                               False
...                                 ...                                 ...
2574                              False                               False
2575                              False                               False
2576                              False                               False
2577                              False                               False
2578                              False                               False

[1639 rows x 24 columns]

In [143]:
print (dfa1.isnull())

      county_district_school_code  county_code  district_code  school_code  \
3                           False        False          False        False
4                           False        False          False        False
5                           False        False          False        False
6                           False        False          False        False
13                          False        False          False        False
...                           ...          ...            ...          ...
2298                        False        False          False        False
2299                        False        False          False        False
2302                        False        False          False        False
2303                        False        False          False        False
2306                        False        False          False        False

      record_type  school_name  district_name  county_name  \
3           False        False          False        False
4           False        False          False        False
5           False        False          False        False
6           False        False          False        False
13          False        False          False        False
...           ...          ...            ...          ...
2298        False        False          False        False
2299        False        False          False        False
2302        False        False          False        False
2303        False        False          False        False
2306        False        False          False        False

      _12th_grade_enrollment  test_taker_count  average_reading_score  \
3                      False             False                  False
4                      False             False                  False
5                      False             False                  False
6                      False             False                  False
13                     False             False                  False
...                      ...               ...                    ...
2298                   False             False                  False
2299                   False             False                  False
2302                   False             False                  False
2303                   False             False                  False
2306                   False             False                  False

      average_english_score  average_math_score  average_science_score  \
3                     False               False                  False
4                     False               False                  False
5                     False               False                  False
6                     False               False                  False
13                    False               False                  False
...                     ...                 ...                    ...
2298                  False               False                  False
2299                  False               False                  False
2302                  False               False                  False
2303                  False               False                  False
2306                  False               False                  False

      number_of_composite_results_21andup  \
3                                   False
4                                   False
5                                   False
6                                   False
13                                  False
...                                   ...
2298                                False
2299                                False
2302                                False
2303                                False
2306                                False

      percent_of_composite_results_21andup
3                                    False
4                                    False
5                                    False
6                                    False
13                                   False
...                                    ...
2298                                 False
2299                                 False
2302                                 False
2303                                 False
2306                                 False

[1421 rows x 16 columns]

In [145]:
dfs1['column'].sort_values()

KeyError: 'column'

In [146]:
dfa1['column'].sort_values()
#print(ca_sat_2019.isnull().sum())

KeyError: 'column'

In [167]:
#dfs1._12th_grade_enrollment = dfs1.astype(np.int464)
dfa1._12th_grade_enrollment = dfa1._12th_grade_enrollment.astype(np.int64)

dfa1.test_taker_count = dfa1.test_taker_count.astype(np.int64)

dfa1.average_reading_score = dfa1.average_reading_score.astype(np.int64)

dfa1.average_english_score = dfa1.average_english_score.astype(np.int64)

dfa1.average_math_score = dfa1.average_math_score.astype(np.int64)

dfa1.average_science_score = dfa1.average_science_score.astype(np.int64)

dfa1.average_science_score = dfa1.average_science_score.astype(np.int64)

dfa1.percent_of_composite_results_21andup = dfa1.percent_of_composite_results_21andup.astype(np.int64)
#','').\
#astype


#', 'a',', '', 'number_of_composite_results_21andup
#https://stackoverflow.com/questions/17950374/converting-a-column-within-pandas-dataframe-from-int-to-string
#print (ca_act_2019.isnull().sum())
dfa1.dtypes

ValueError: invalid literal for int() with base 10: '64.15'

In [168]:
#percent_decimal('5%')ca_sat_2019.drop(columns=['Unnamed: 25', 'CDS', 'CCode', 'CDCode', 'SCode', 'RType', 'Year'],\
                 inplace=True)

IndentationError: unexpected indent (<ipython-input-168-3422577e631b>, line 2)

In [10]:
#All the asteriks, which indicate that the scores were not reported due to privacy\
#concerns as the sample was so small at that school that the children would be identified,\
#have been converted to NaN's.
ca_act_2019_clean1= ca_act_2019.replace({'*' : np.NaN})
ca_sat_2019_clean1= ca_sat_2019.replace({'*': np.NaN})

In [109]:
ca_sat_2019_clean1['NumERWBenchmark12'].sort_values()

707       1
1863      1
1841     10
735      10
816      10
       ...
1968    NaN
1970    NaN
1972    NaN
1977    NaN
1978    NaN
Name: NumERWBenchmark12, Length: 1602, dtype: object

In [11]:
# Given that my datasets are greater than 2000 each, I have filtered out the NaN's
#from my datasets. I learned of this function from a classmate.
ca_act_2019_clean2 = ca_act_2019_clean1.dropna().copy()
ca_sat_2019_clean2 = ca_sat_2019_clean1.dropna().copy()

In [113]:
#ca_act_2019_clean.isnull().sum()
ca_act_2019_clean2['PctGE21'].sort_values()

820      0.00
2146     0.00
88       0.00
539      0.00
129      0.00
        ...
1006    96.18
1992    96.69
1025    97.17
1809    97.30
2271    98.18
Name: PctGE21, Length: 1017, dtype: object

In [115]:
#ca_sat_2019_clean.isnull().sum()
ca_sat_2019_clean2['PctBothBenchmark11'].sort_values()

454      0.00
940      0.00
60       0.00
1641     0.00
1078     0.00
        ...
401     98.01
541     98.95
1747    99.19
144     99.47
1100    99.68
Name: PctBothBenchmark11, Length: 1199, dtype: object

In [118]:
#ca_sat_2019_clean2.head()
#ca_sat_2019_clean2[NumERWBenchmark12]=ca_sat_2019_clean2( iny)
ca_sat_2019_clean1.NumERcolumn_name = df.column_name.astype(np.int64)
#percent_decimal('5%')
https://stackoverflow.com/questions/17950374/converting-a-column-within-pandas-dataframe-from-int-to-string

,SName,DName,CName,Enroll12,NumTSTTakr12,NumERWBenchmark12,PctERWBenchmark12,NumMathBenchmark12,PctMathBenchmark12,Enroll11,NumTSTTakr11,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11,PctMathBenchmark11,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11
2,Belmont Senior High,Los Angeles Unified,Los Angeles,206.0,102.0,31,30.39,14,13.73,219.0,174.0,42,24.14,12,6.90,14,13.73,11,6.32
3,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227.0,113.0,54,47.79,18,15.93,333.0,275.0,97,35.27,37,13.45,18,15.93,35,12.73
5,Foshay Learning Center,Los Angeles Unified,Los Angeles,166.0,106.0,68,64.15,36,33.96,187.0,183.0,91,49.73,47,25.68,36,33.96,44,24.04
6,Mission Viejo High,Saddleback Valley Unified,Orange,562.0,190.0,161,84.74,138,72.63,503.0,223.0,206,92.38,176,78.92,132,69.47,172,77.13
9,New Open World Academy K-12,Los Angeles Unified,Los Angeles,85.0,68.0,17,25.00,6,8.82,79.0,79.0,22,27.85,10,12.66,6,8.82,6,7.59

### Data Dictionary

Now that we've fixed our data, and given it appropriate names, let's create a [data dictionary](http://library.ucmerced.edu/node/10249). 

A data dictionary provides a quick overview of features/variables/columns, alongside data types and descriptions. The more descriptive you can be, the more useful this document is.

Example of a Fictional Data Dictionary Entry: 

|Feature|Type|Dataset|Description|
|---|---|---|---|
|**county_pop**|*integer*|2010 census|The population of the county (units in thousands, where 2.5 represents 2500 people).| 
|**per_poverty**|*float*|2010 census|The percent of the county over the age of 18 living below the 200% of official US poverty rate (units percent to two decimal places 98.10 means 98.1%)|

[Here's a quick link to a short guide for formatting markdown in Jupyter notebooks](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html).

Provided is the skeleton for formatting a markdown table, with columns headers that will help you create a data dictionary to quickly summarize your data, as well as some examples. **This would be a great thing to copy and paste into your custom README for this project.**

*Note*: if you are unsure of what a feature is, check the source of the data! This can be found in the README.

**To-Do:** *Edit the table below to create your own data dictionary for the datasets you chose.*

|Feature|Type|Dataset|Description|
|---|---|---|---|
|column name|int/float/object|ACT/SAT|This is an example|

## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [ ]:
#Code:

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [ ]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!