<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 1: Standardized Test Analysis

# Vivek Bavda:
## DSIR 7/12
### Project 1 July 26, 2021:
### Analysis on moving the needle on high school outcomes by building political capital.

### Introduction:
*As the Mayor and Mayors around this state are aware, standardized tests provide only a snapshot of student performance. These snapshots often define whether the educational agenda of each of your programs is successful. With this in mind, this data analysis seeks to benchmark which test this city and the state of California should institute as a requirement for its college-bound students. The SAT and ACT  are compared to determine which test best reflects the achievement of California's students and which test results should be promoted to support your political agenda.*

### Contents:
- [Background](#Background)
- [Data Import & Cleaning](#Data-Import-and-Cleaning)
- [Exploratory Data Analysis](#Exploratory-Data-Analysis)
- [Data Visualization](#Visualize-the-Data)
- [Conclusions and Recommendations](#Conclusions-and-Recommendations)

## Background

The SAT and ACT are standardized tests that many colleges and universities in the United States require for their admissions process. This score is used along with other materials such as grade point average (GPA) and essay responses to determine whether or not a potential student will be accepted to the university. However, despite growth in locally determined outcomes, the SAT and ACT snapshots often are seen as the main evaluation point by your constituents. To the extent our students score well, it allows us greater political capital to institue educational reforms. It is imperative that we choose and mandate by state and local regulations which test demonstrates higher scores and bests represents our students' achievements.

This requires us to analyze the format and results of the SAT and ACT. The SAT has two sections of the test: Evidence-Based Reading and Writing and Math ([*source*](https://www.princetonreview.com/college/sat-sections)). The ACT has 4 sections: English, Mathematics, Reading, and Science, with an additional optional writing section ([*source*](https://www.act.org/content/act/en/products-and-services/the-act/scores/understanding-your-scores.html)).  The score rangesEDITThey have different score ranges, which you can read more about on their websites or additional outside sources (a quick Google search will help you understand the scores for each test):
* [SAT](https://collegereadiness.collegeboard.org/sat)
* [ACT](https://www.act.org/content/act/en.html)

It is important to also keep in mind that standardized tests have long been a controversial topic for students, administrators, and legislators. Since the 1940's, an increasing number of colleges have been using scores from students' performances on tests like the SAT and the ACT as a measure for college readiness and aptitude ([*source*](https://www.minotdailynews.com/news/local-news/2017/04/a-brief-history-of-the-sat-and-act/)). Supporters of these tests argue that these scores can be used as an objective measure to determine college admittance. Opponents of these tests claim that these tests are not accurate measures of students potential or ability and serve as an inequitable barrier to entry. Lately, more and more schools are opting to drop the SAT/ACT requirement for their Fall 2021 applications ([*read more about this here*](https://www.cnn.com/2020/04/14/us/coronavirus-colleges-sat-act-test-trnd/index.html)).
Even with this trend, our political calculus has not changed. Most people in our districts use SAT and ACT has shorthand. Therefore, we recomment you choose ACTSAT

**To-Do:** *Fill out this cell (or edit the above cell) with any other background or information that is necessary for your problem statement.*

### California ACT and SAT datasets from 2018 - 2019 were used in this analysis.

* [`act_2019_ca.csv`](./data/act_2019_ca.csv): 2019 ACT Scores in California by School, District, and County. 

    The total number of testtakers is listed.The average scores for the four parts of the test (English, Reading, Math, and Science) is listed. The composite score of the four parts is benchmarked by listing the number of students greater than or equal to the score 21 is also listed.

* [`sat_2019_ca.csv`](./data/sat_2019_ca.csv): 2019 SAT Scores in California by School, District and County. 

    The total number of testakers is listed. The dataset also breaks the scores down by grade level. Benchmarks are listed for the two measurement categories. First, the number of students who met or exceeded the benchmark for reading & writing is listed. Second, the number of students who met or exceeded the benchmark for math. There is also a category for meeting both benchmarks.

**To-Do:** *Fill out this cell with the datasets you will use for your analysis. Write a brief description of the contents for each dataset that you choose.*

### Outside Research

IF NO OUTSIDE RESEARCH< DELETEBased on your problem statement and your chosen datasets, spend some time doing outside research on state policies or additional information that might be relevant. Summarize your findings below. If you bring in any outside tables or charts, make sure you are explicit about having borrowed them. If you quote any text, make sure that it renders as being quoted. **Make sure that you cite your sources.**

**To-Do:** *Fill out this cell with outside research or any additional background information that will support your analysis.*

### Coding Challenges

1. Manually calculate mean:

    Write a function that takes in values and returns the mean of the values. Create a list of numbers that you test on your function to check to make sure your function works!
    
    *Note*: Do not use any mean methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [1]:
# Mean Code:
meannumberstry=[5,9,3]
def mean_wo_np(meannumbers):
    return (sum(meannumbers))/len(meannumbers)
mean_wo_np(meannumberstry)

5.666666666666667

2. Manually calculate standard deviation:

    The formula for standard deviation is below:

    $$\sigma = \sqrt{\frac{1}{n}\sum_{i=1}^n(x_i - \mu)^2}$$

    Where $x_i$ represents each value in the dataset, $\mu$ represents the mean of all values in the dataset and $n$ represents the number of values in the dataset.

    Write a function that takes in values and returns the standard deviation of the values using the formula above. Hint: use the function you wrote above to calculate the mean! Use the list of numbers you created above to test on your function.
    
    *Note*: Do not use any standard deviation methods built-in to any Python libraries to do this! This should be done without importing any additional libraries.

In [2]:
# Code: Standard Deviation Calculation
meannumberstry=[1,8,-4,9,6]
def standard_deviation(stdmeannumbers):
    return (sum([((stdmeannumber-mean_wo_np(stdmeannumbers))**2)\
            for stdmeannumber in stdmeannumbers])/len(stdmeannumbers)) ** .5


standard_deviation(meannumberstry)

4.857983120596447

3. Data cleaning function:
    
    Write a function that takes in a string that is a number and a percent symbol (ex. '50%', '30.5%', etc.) and converts this to a float that is the decimal approximation of the percent. For example, inputting '50%' in your function should return 0.5, '30.5%' should return 0.305, etc. Make sure to test your function to make sure it works!

You will use these functions later on in the project!

In [3]:
# Code for turning percents or whole numbers into decimals

def percent_decimal(percent_input):
    if '%' in percent_input:
        return (float(percent_input.strip('%')))/100
    else:
        return (float(percent_input))/100
percent_decimal('50.09%')


    
#Source used for this function:https://stackoverflow.com/questions/12432663/what-is-a-clean-way-to-convert-a-string-percent-to-a-float

0.5009

--- 
# Part 2

Part 2 requires knowledge of Pandas, EDA, data cleaning, and data visualization.

---

*All libraries used should be added here*

In [4]:
# Imports:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Data import of California 2018-2019 ACT and SAT datasets used in analysis
ca_sat_2019 = '../data/sat_2019_ca.csv'
ca_act_2019 = '../data/act_2019_ca.csv'

In [5]:
dfa = pd.read_csv(ca_act_2019)
dfs = pd.read_csv(ca_sat_2019)

## Data Import and Cleaning

### Data Import & Cleaning

Import the datasets that you selected for this project and go through the following steps at a minimum. You are welcome to do further cleaning as you feel necessary:
1. Display the data: print the first 5 rows of each dataframe to your Jupyter notebook.
2. Check for missing values.
3. Check for any obvious issues with the observations (keep in mind the minimum & maximum possible values for each test/subtest).
4. Fix any errors you identified in steps 2-3.
5. Display the data types of each feature.
6. Fix any incorrect data types found in step 5.
    - Fix any individual values preventing other columns from being the appropriate type.
    - If your dataset has a column of percents (ex. '50%', '30.5%', etc.), use the function you wrote in Part 1 (coding challenges, number 3) to convert this to floats! *Hint*: use `.map()` or `.apply()`.
7. Rename Columns.
    - Column names should be all lowercase.
    - Column names should not contain spaces (underscores will suffice--this allows for using the `df.column_name` method to access columns in addition to `df['column_name']`).
    - Column names should be unique and informative.
8. Drop unnecessary rows (if needed).
9. Merge dataframes that can be merged.
10. Perform any additional cleaning that you feel is necessary.
11. Save your cleaned and merged dataframes as csv files.

In [6]:
# Code for Data Import and Cleaning:

#First 5 rows of SAT data frame code is below
dfs.head()

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTSTTakr12,...,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11,PctMathBenchmark11,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11,Year,Unnamed: 25
0,6.615981e+12,6.0,661598.0,630046.0,S,Colusa Alternative Home,Colusa Unified,Colusa,18.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,6.616061e+12,6.0,661606.0,634758.0,S,Maxwell Sr High,Maxwell Unified,Colusa,29.0,10.0,...,*,*,*,*,*,*,*,*,2018-19,NaN
2,1.964733e+13,19.0,1964733.0,1930924.0,S,Belmont Senior High,Los Angeles Unified,Los Angeles,206.0,102.0,...,42,24.14,12,6.90,14,13.73,11,6.32,2018-19,NaN
3,1.964733e+13,19.0,1964733.0,1931476.0,S,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227.0,113.0,...,97,35.27,37,13.45,18,15.93,35,12.73,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1931856.0,S,Whitman Continuation,Los Angeles Unified,Los Angeles,18.0,14.0,...,*,*,*,*,*,*,*,*,2018-19,NaN

In [7]:
#First 5 rows of ACT data frame code is below
dfa.head()

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTstTakr,AvgScrRead,AvgScrEng,AvgScrMath,AvgScrSci,NumGE21,PctGE21,Year,Unnamed: 17
0,3.366993e+13,33.0,3366993.0,129882.0,S,21st Century Learning Institute,Beaumont Unified,Riverside,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,1.964212e+13,19.0,1964212.0,1995596.0,S,ABC Secondary (Alternative),ABC Unified,Los Angeles,58.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
2,1.563776e+13,15.0,1563776.0,1530377.0,S,Abraham Lincoln Alternative,Southern Kern Unified,Kern,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
3,4.369666e+13,43.0,4369666.0,4333795.0,S,Abraham Lincoln High,San Jose Unified,Santa Clara,463.0,53.0,23,22,22,23,34,64.15,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1935121.0,S,Abraham Lincoln Senior High,Los Angeles Unified,Los Angeles,226.0,19.0,21,20,23,22,11,57.89,2018-19,NaN

In [8]:
#checking data types
dfa.dtypes

CDS            float64
CCode          float64
CDCode         float64
SCode          float64
RType           object
SName           object
DName           object
CName           object
Enroll12       float64
NumTstTakr     float64
AvgScrRead      object
AvgScrEng       object
AvgScrMath      object
AvgScrSci       object
NumGE21         object
PctGE21         object
Year            object
Unnamed: 17    float64
dtype: object

In [9]:
#checking data types
dfs.dtypes

CDS                      float64
CCode                    float64
CDCode                   float64
SCode                    float64
RType                     object
SName                     object
DName                     object
CName                     object
Enroll12                 float64
NumTSTTakr12             float64
NumERWBenchmark12         object
PctERWBenchmark12         object
NumMathBenchmark12        object
PctMathBenchmark12        object
Enroll11                 float64
NumTSTTakr11             float64
NumERWBenchmark11         object
PctERWBenchmark11         object
NumMathBenchmark11        object
PctMathBenchmark11        object
TotNumBothBenchmark12     object
PctBothBenchmark12        object
TotNumBothBenchmark11     object
PctBothBenchmark11        object
Year                      object
Unnamed: 25              float64
dtype: object

In [10]:
dfs.isnull().sum()

CDS                         1
CCode                       1
CDCode                      1
SCode                       1
RType                       1
SName                     598
DName                      59
CName                       1
Enroll12                    1
NumTSTTakr12                1
NumERWBenchmark12         276
PctERWBenchmark12         276
NumMathBenchmark12        276
PctMathBenchmark12        276
Enroll11                    1
NumTSTTakr11                1
NumERWBenchmark11         311
PctERWBenchmark11         311
NumMathBenchmark11        311
PctMathBenchmark11        311
TotNumBothBenchmark12     276
PctBothBenchmark12        276
TotNumBothBenchmark11     311
PctBothBenchmark11        311
Year                        1
Unnamed: 25              2580
dtype: int64

In [11]:
dfa.isnull().sum()

CDS               1
CCode             1
CDCode            1
SCode           523
RType             1
SName           581
DName            59
CName             1
Enroll12          1
NumTstTakr        1
AvgScrRead      357
AvgScrEng       357
AvgScrMath      357
AvgScrSci       357
NumGE21         357
PctGE21         357
Year              1
Unnamed: 17    2310
dtype: int64

In [12]:
#seeing pattern for missing values
pattern1s = dfs.isnull()[~dfs.isnull().duplicated()]\
             .applymap(lambda x: int(x))
pattern1s

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTSTTakr12,...,NumERWBenchmark11,PctERWBenchmark11,NumMathBenchmark11,PctMathBenchmark11,TotNumBothBenchmark12,PctBothBenchmark12,TotNumBothBenchmark11,PctBothBenchmark11,Year,Unnamed: 25
0,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,0,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
7,0,0,0,0,0,0,0,0,0,0,...,1,1,1,1,0,0,1,1,0,1
36,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
1981,0,0,0,0,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2012,0,0,0,0,0,1,1,0,0,0,...,1,1,1,1,1,1,1,1,0,1
2037,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2051,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,1,1,0,0,0,1
2103,0,0,0,0,0,1,0,0,0,0,...,1,1,1,1,0,0,1,1,0,1
2138,0,0,0,0,0,1,0,0,0,0,...,1,1,1,1,1,1,1,1,0,1
2579,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [13]:
#seeing pattern for missing values
pattern1a = dfa.isnull()[~dfa.isnull().duplicated()]\
             .applymap(lambda x: int(x))
pattern1a

,CDS,CCode,CDCode,SCode,RType,SName,DName,CName,Enroll12,NumTstTakr,AvgScrRead,AvgScrEng,AvgScrMath,AvgScrSci,NumGE21,PctGE21,Year,Unnamed: 17
0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,0,1
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1064,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,1
1103,0,0,0,0,0,1,1,0,0,0,1,1,1,1,1,1,0,1
1122,0,0,0,1,0,1,0,0,0,0,1,1,1,1,1,1,0,1
1123,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1
2309,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [14]:

 # count up appearance of each pattern
lister = []
for i in range(len(pattern1a)):
    counter = 0
    for j in dfa.isnull().values:
        if np.array_equal(j, pattern1a.values[i]):
            counter += 1
    lister.append(counter)
lister

[292, 1437, 57, 1, 63, 459, 1]

In [15]:
 # count up appearance of each pattern
listers = []
for i in range(len(pattern1s)):
    counter = 0
    for j in dfs.isnull().values:
        if np.array_equal(j, pattern1s.values[i]):
            counter += 1
    listers.append(counter)
listers

[121, 1602, 144, 115, 57, 1, 484, 11, 17, 27, 1]

In [16]:
# Change the column names using the `.rename()` function for SAT
# Original column: renamed column
srename_map = {'CDS': 'county_district_school_code','CCode': 'county_code', 'CDCode': 'district_code','SCode':'school_code','RType': 'record_type'\
    , 'SName': 'school_name','DName': 'district_name', 'CName': 'county_name', 'Enroll12': '_12th_grade_enrollment', 'NumTSTTakr12': 'test_taker_count_12thgrade'\
               ,'NumERWBenchmark12': 'number_that_passed_reading_writing_standard_12thgrade', 'PctERWBenchmark12': 'percent_that_passed_reading_writing_standard_12thgrade', 'NumMathBenchmark12': 'number_that_passedorabove_math_standard_12thgrade'\
   , 'PctMathBenchmark12':'percent_that_passedorabove_math_standard_12thgrade', 'Enroll11':'_11th_grade_enrollment', 'NumTSTTakr11':'test_taker_count_11thgrade', 'NumERWBenchmark11': 'number_that_passed_reading_writing_standard_11thgrade','PctERWBenchmark11':'percent_that_passed_reading_writing_standard_11thgrade', 'NumMathBenchmark11':'number_that_passedorabove_math_standard_11thgrade'\
, 'PctMathBenchmark11': 'percent_that_passedorabove_math_standard_11thgrade','TotNumBothBenchmark12':'number_that_passed_both_12thgrade' , 'PctBothBenchmark12': 'percent_that_passed_both_12thgrade','TotNumBothBenchmark11':'number_that_passed_both_11thgrade', 'PctBothBenchmark11':'percent_that_passed_both_11thgrade', 'Year':'year','Unnamed: 25':'unnamed_25'}

dfs = pd.read_csv(ca_sat_2019)

dfs.rename(columns = srename_map, inplace = True)
dfs.head()

,county_district_school_code,county_code,district_code,school_code,record_type,school_name,district_name,county_name,_12th_grade_enrollment,test_taker_count_12thgrade,...,number_that_passed_reading_writing_standard_11thgrade,percent_that_passed_reading_writing_standard_11thgrade,number_that_passedorabove_math_standard_11thgrade,percent_that_passedorabove_math_standard_11thgrade,number_that_passed_both_12thgrade,percent_that_passed_both_12thgrade,number_that_passed_both_11thgrade,percent_that_passed_both_11thgrade,year,unnamed_25
0,6.615981e+12,6.0,661598.0,630046.0,S,Colusa Alternative Home,Colusa Unified,Colusa,18.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,6.616061e+12,6.0,661606.0,634758.0,S,Maxwell Sr High,Maxwell Unified,Colusa,29.0,10.0,...,*,*,*,*,*,*,*,*,2018-19,NaN
2,1.964733e+13,19.0,1964733.0,1930924.0,S,Belmont Senior High,Los Angeles Unified,Los Angeles,206.0,102.0,...,42,24.14,12,6.90,14,13.73,11,6.32,2018-19,NaN
3,1.964733e+13,19.0,1964733.0,1931476.0,S,Canoga Park Senior High,Los Angeles Unified,Los Angeles,227.0,113.0,...,97,35.27,37,13.45,18,15.93,35,12.73,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1931856.0,S,Whitman Continuation,Los Angeles Unified,Los Angeles,18.0,14.0,...,*,*,*,*,*,*,*,*,2018-19,NaN

In [17]:
# Change the column names using the `.rename()` function for ACT.

arename_map = {'CDS': 'county_district_school_code','CCode': 'county_code', 'CDCode': 'district_code','SCode':'school_code','RType': 'record_type', 'SName': 'school_name','DName': 'district_name', 'CName': 'county_name','Enroll12': '_12th_grade_enrollment', 'NumTstTakr': 'test_taker_count','AvgScrRead':'average_reading_score', 'AvgScrEng':'average_english_score', 'AvgScrMath':'average_math_score', 'AvgScrSci':'average_science_score', 'NumGE21':'number_of_composite_results_21andup', 'PctGE21':'percent_of_composite_results_21andup', 'Year':'year','Unnamed: 17':'unnamed_17'}
# Original column: renamed column

dfa = pd.read_csv(ca_act_2019)

dfa.rename(columns = arename_map, inplace = True)
dfa.head()

,county_district_school_code,county_code,district_code,school_code,record_type,school_name,district_name,county_name,_12th_grade_enrollment,test_taker_count,average_reading_score,average_english_score,average_math_score,average_science_score,number_of_composite_results_21andup,percent_of_composite_results_21andup,year,unnamed_17
0,3.366993e+13,33.0,3366993.0,129882.0,S,21st Century Learning Institute,Beaumont Unified,Riverside,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
1,1.964212e+13,19.0,1964212.0,1995596.0,S,ABC Secondary (Alternative),ABC Unified,Los Angeles,58.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
2,1.563776e+13,15.0,1563776.0,1530377.0,S,Abraham Lincoln Alternative,Southern Kern Unified,Kern,18.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,2018-19,NaN
3,4.369666e+13,43.0,4369666.0,4333795.0,S,Abraham Lincoln High,San Jose Unified,Santa Clara,463.0,53.0,23,22,22,23,34,64.15,2018-19,NaN
4,1.964733e+13,19.0,1964733.0,1935121.0,S,Abraham Lincoln Senior High,Los Angeles Unified,Los Angeles,226.0,19.0,21,20,23,22,11,57.89,2018-19,NaN

In [18]:
#dfs.county_district_school_code.unique()
#coded numbers-not needed-float

#dfs.county_code.unique()
#there is a NaN and other numbers appear to correpsond to the code above. There appear to be county listed\
#records as well as by school to show multple aggregates--float

#dfs.district_code.unique()
#there is a Nan and there appear to be unique numbers otherwise- in float

#dfs.school_code.unique()
#There is a Nan and there appear to be unique numbers otherwise-float

#dfs.record_type.unique()
# Four relevant values-stay as object but NAN

#dfs.school_name.unique()
#seems good except for one nan

#dfs.district_name.unique()
#stay as object and unique values

#dfs.county_name.unique()
#unique values-one nan and stay as object

#dfs._12th_grade_enrollment.unique()
#unique values and a nan

#dfs.test_taker_count_12thgrade.unique()
#unique values and a nan

#dfs.number_that_passed_reading_writing_standard_12thgrade.unique()
#there is a nan and * that need to be removed--*represents no reporting

#dfs.percent_that_passed_reading_writing_standard_12thgrade.unique()
#there is a nan and * that need to be removed--*represents no reporting

#dfs.number_that_passedorabove_math_standard_12thgrade.unique()
#unique values

dfs.percent_that_passedorabove_math_standard_12thgrade.unique()
#nan and * need to be removed

#dfs.number_that_passed_both_12thgrade.unique()
#nan and * need to be removed

#dfs.percent_that_passed_both_12thgrade.unique()
#nan and * need to be removed.

#dfs._11th_grade_enrollment.unique()
#nan needs to be removed

#dfs.test_taker_count_11thgrade.unique()
#one nan needs to be removed

#dfs.number_that_reading_writing_standard_11thgrade.unique()
#Nan and * need to be removed

#dfs.percent_that_passed_reading_writing_standard_11thgrade.unique()
#nan and * need to be removed

#dfs.number_that_passedorabove_math_standard_11thgrade.unique()
#nan and * need to be removed

#dfs.percent_that_passedorabove_math_standard_11thgrade.unique()
#nan and * need to be removed

#dfs.number_that_passed_both_11thgrade.unique()
#nan and * need to be removed

#dfs.percent_that_passed_both_11thgrade.unique()
#nan and * need to be removed

#dfs.year.unique()
#nan and 2018-2019--useless column-remove

#dfs.unnamed_25.unique()
#Only nan-remove column

array([nan, '*', '13.73', ..., '38.17', '89.25', '42.51'], dtype=object)

In [19]:
#dfa.county_district_school_code.unique()
#Nan needs to be removed

#dfa.county_code.unique()
#Nan needs to be removed

#dfa.district_code.unique()
#there is a nan and a 0, which doesnt make sense for a code identifier. Shouldnt effect results

#dfa.school_code.unique()
#unique values

#dfa.record_type.unique()
#nan needs to be removed

#dfa.school_name.unique()
#unique values.there is a state of California listing, which appears to be an aggregate.

#dfa.district_name.unique()
#there is a state of California listing, which appears to be an aggregate.

#dfa.county_name.unique()
#there is a state of California listing, which appears to be an aggregate. Also a nan

#dfa._12th_grade_enrollment.unique()
#there is a nan that needs to be removed

#dfa.test_taker_count.unique()
#there appears to be a nan

dfa.average_reading_score.unique()
#there appears to be a nan and * that needs to be removed

#dfa.average_english_score.unique()
#there appears to be a nan and * that needs to be removed.

#dfa.average_math_score.unique()
#there appears to be a nan and * that needs to be removed

#dfa.average_science_score.unique()
#there appears to be a nan and * that needs to be removed

#dfa.number_of_composite_results_21andup.unique()
#there appears to be a nan and * that needs to be removed

#dfa.percent_of_composite_results_21andup.unique()
#there appears to be a nan and * that needs to be removed

#dfa.year.unique()
#all 2018-2019-not needed also a nan

#dfa.unnamed_17.unique()
#all nans - remove column

array([nan, '23', '21', '15', '18', '*', '29', '14', '19', '25', '27',
       '28', '24', '26', '17', '16', '20', '22', '30', '12', '13', '32',
       '31'], dtype=object)

In [20]:
# Deleting unnecessary columns including unnamed as they are all nan's and the year is the same for all datafrom both as thas theand year
dfs.drop(columns=['unnamed_25', 'year'],inplace=True)
dfa.drop(columns=['unnamed_17', 'year'], inplace=True)

In [21]:

dfs.count()

county_district_school_code                               2579
county_code                                               2579
district_code                                             2579
school_code                                               2579
record_type                                               2579
school_name                                               1982
district_name                                             2521
county_name                                               2579
_12th_grade_enrollment                                    2579
test_taker_count_12thgrade                                2579
number_that_passed_reading_writing_standard_12thgrade     2304
percent_that_passed_reading_writing_standard_12thgrade    2304
number_that_passedorabove_math_standard_12thgrade         2304
percent_that_passedorabove_math_standard_12thgrade        2304
_11th_grade_enrollment                                    2579
test_taker_count_11thgrade                                2579
number_that_passed_reading_writing_standard_11thgrade     2269
percent_that_passed_reading_writing_standard_11thgrade    2269
number_that_passedorabove_math_standard_11thgrade         2269
percent_that_passedorabove_math_standard_11thgrade        2269
number_that_passed_both_12thgrade                         2304
percent_that_passed_both_12thgrade                        2304
number_that_passed_both_11thgrade                         2269
percent_that_passed_both_11thgrade                        2269
dtype: int64

In [22]:
dfa.count()

county_district_school_code             2309
county_code                             2309
district_code                           2309
school_code                             1787
record_type                             2309
school_name                             1729
district_name                           2251
county_name                             2309
_12th_grade_enrollment                  2309
test_taker_count                        2309
average_reading_score                   1953
average_english_score                   1953
average_math_score                      1953
average_science_score                   1953
number_of_composite_results_21andup     1953
percent_of_composite_results_21andup    1953
dtype: int64

In [23]:
#turning asterisks into NaN's. 
dfs = dfs.replace({'*' : np.NaN})
dfa = dfa.replace({'*': np.NaN})

In [24]:
# Dropping rows with NaN's in these particular columns. Given the number of observations, \
#there should still be good data. The asterisks that were removed represented people who if\
#the score were shared could be identified. The data is also divided by county. In the analysis\
#those small schools will be counted by that mechanism.
dfa1 = dfa.dropna(subset=['_12th_grade_enrollment', 'test_taker_count', 'average_reading_score'\
, 'average_english_score', 'average_math_score', 'average_science_score', 'number_of_composite_results_21andup'\
, 'percent_of_composite_results_21andup']).copy()

dfs1 = dfs.dropna(subset=['_12th_grade_enrollment','test_taker_count_12thgrade','number_that_passed_reading_writing_standard_12thgrade'\
,'percent_that_passed_reading_writing_standard_12thgrade','number_that_passedorabove_math_standard_12thgrade'\
,'percent_that_passedorabove_math_standard_12thgrade','number_that_passed_both_12thgrade'\
,'percent_that_passed_both_12thgrade','_11th_grade_enrollment','test_taker_count_11thgrade'\
,'number_that_passed_reading_writing_standard_11thgrade','percent_that_passed_reading_writing_standard_11thgrade'\
,'number_that_passedorabove_math_standard_11thgrade','percent_that_passedorabove_math_standard_11thgrade','number_that_passed_both_11thgrade'\
,'percent_that_passed_both_11thgrade']).copy()

#Source:classmate and https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html

In [25]:
dfa1.count()

county_district_school_code             1421
county_code                             1421
district_code                           1421
school_code                             1071
record_type                             1421
school_name                             1017
district_name                           1367
county_name                             1421
_12th_grade_enrollment                  1421
test_taker_count                        1421
average_reading_score                   1421
average_english_score                   1421
average_math_score                      1421
average_science_score                   1421
number_of_composite_results_21andup     1421
percent_of_composite_results_21andup    1421
dtype: int64

In [26]:
dfs1.count()

county_district_school_code                               1639
county_code                                               1639
district_code                                             1639
school_code                                               1639
record_type                                               1639
school_name                                               1199
district_name                                             1585
county_name                                               1639
_12th_grade_enrollment                                    1639
test_taker_count_12thgrade                                1639
number_that_passed_reading_writing_standard_12thgrade     1639
percent_that_passed_reading_writing_standard_12thgrade    1639
number_that_passedorabove_math_standard_12thgrade         1639
percent_that_passedorabove_math_standard_12thgrade        1639
_11th_grade_enrollment                                    1639
test_taker_count_11thgrade                                1639
number_that_passed_reading_writing_standard_11thgrade     1639
percent_that_passed_reading_writing_standard_11thgrade    1639
number_that_passedorabove_math_standard_11thgrade         1639
percent_that_passedorabove_math_standard_11thgrade        1639
number_that_passed_both_12thgrade                         1639
percent_that_passed_both_12thgrade                        1639
number_that_passed_both_11thgrade                         1639
percent_that_passed_both_11thgrade                        1639
dtype: int64

In [27]:
print (dfs1.isnull())

      county_district_school_code  county_code  district_code  school_code  \
2                           False        False          False        False
3                           False        False          False        False
5                           False        False          False        False
6                           False        False          False        False
9                           False        False          False        False
...                           ...          ...            ...          ...
2574                        False        False          False        False
2575                        False        False          False        False
2576                        False        False          False        False
2577                        False        False          False        False
2578                        False        False          False        False

      record_type  school_name  district_name  county_name  \
2           False        False          False        False
3           False        False          False        False
5           False        False          False        False
6           False        False          False        False
9           False        False          False        False
...           ...          ...            ...          ...
2574        False         True          False        False
2575        False         True          False        False
2576        False         True           True        False
2577        False         True           True        False
2578        False         True           True        False

      _12th_grade_enrollment  test_taker_count_12thgrade  ...  \
2                      False                       False  ...
3                      False                       False  ...
5                      False                       False  ...
6                      False                       False  ...
9                      False                       False  ...
...                      ...                         ...  ...
2574                   False                       False  ...
2575                   False                       False  ...
2576                   False                       False  ...
2577                   False                       False  ...
2578                   False                       False  ...

      _11th_grade_enrollment  test_taker_count_11thgrade  \
2                      False                       False
3                      False                       False
5                      False                       False
6                      False                       False
9                      False                       False
...                      ...                         ...
2574                   False                       False
2575                   False                       False
2576                   False                       False
2577                   False                       False
2578                   False                       False

      number_that_passed_reading_writing_standard_11thgrade  \
2                                                 False
3                                                 False
5                                                 False
6                                                 False
9                                                 False
...                                                 ...
2574                                              False
2575                                              False
2576                                              False
2577                                              False
2578                                              False

      percent_that_passed_reading_writing_standard_11thgrade  \
2                                                 False
3                                                 False
5                                                 False
6                                                 False
9                                                 False
...                                                 ...
2574                                              False
2575                                              False
2576                                              False
2577                                              False
2578                                              False

      number_that_passedorabove_math_standard_11thgrade  \
2                                                 False
3                                                 False
5                                                 False
6                                                 False
9                                                 False
...                                                 ...
2574                                              False
2575                                              False
2576                                              False
2577                                              False
2578                                              False

      percent_that_passedorabove_math_standard_11thgrade  \
2                                                 False
3                                                 False
5                                                 False
6                                                 False
9                                                 False
...                                                 ...
2574                                              False
2575                                              False
2576                                              False
2577                                              False
2578                                              False

      number_that_passed_both_12thgrade  percent_that_passed_both_12thgrade  \
2                                 False                               False
3                                 False                               False
5                                 False                               False
6                                 False                               False
9                                 False                               False
...                                 ...                                 ...
2574                              False                               False
2575                              False                               False
2576                              False                               False
2577                              False                               False
2578                              False                               False

      number_that_passed_both_11thgrade  percent_that_passed_both_11thgrade
2                                 False                               False
3                                 False                               False
5                                 False                               False
6                                 False                               False
9                                 False                               False
...                                 ...                                 ...
2574                              False                               False
2575                              False                               False
2576                              False                               False
2577                              False                               False
2578                              False                               False

[1639 rows x 24 columns]

In [28]:
print (dfa1.isnull())

      county_district_school_code  county_code  district_code  school_code  \
3                           False        False          False        False
4                           False        False          False        False
5                           False        False          False        False
6                           False        False          False        False
13                          False        False          False        False
...                           ...          ...            ...          ...
2298                        False        False          False        False
2299                        False        False          False        False
2302                        False        False          False        False
2303                        False        False          False        False
2306                        False        False          False        False

      record_type  school_name  district_name  county_name  \
3           False        False          False        False
4           False        False          False        False
5           False        False          False        False
6           False        False          False        False
13          False        False          False        False
...           ...          ...            ...          ...
2298        False        False          False        False
2299        False        False          False        False
2302        False        False          False        False
2303        False        False          False        False
2306        False        False          False        False

      _12th_grade_enrollment  test_taker_count  average_reading_score  \
3                      False             False                  False
4                      False             False                  False
5                      False             False                  False
6                      False             False                  False
13                     False             False                  False
...                      ...               ...                    ...
2298                   False             False                  False
2299                   False             False                  False
2302                   False             False                  False
2303                   False             False                  False
2306                   False             False                  False

      average_english_score  average_math_score  average_science_score  \
3                     False               False                  False
4                     False               False                  False
5                     False               False                  False
6                     False               False                  False
13                    False               False                  False
...                     ...                 ...                    ...
2298                  False               False                  False
2299                  False               False                  False
2302                  False               False                  False
2303                  False               False                  False
2306                  False               False                  False

      number_of_composite_results_21andup  \
3                                   False
4                                   False
5                                   False
6                                   False
13                                  False
...                                   ...
2298                                False
2299                                False
2302                                False
2303                                False
2306                                False

      percent_of_composite_results_21andup
3                                    False
4                                    False
5                                    False
6                                    False
13                                   False
...                                    ...
2298                                 False
2299                                 False
2302                                 False
2303                                 False
2306                                 False

[1421 rows x 16 columns]

In [37]:
pattern2s = dfs1.isnull()[~dfs1.isnull().duplicated()]\
             .applymap(lambda x: int(x))
pattern2a= dfa1.isnull()[~dfa1.isnull().duplicated()]\
             .applymap(lambda y: int(y))
lister2s = []
for i in range(len(pattern1s)):
    counter = 0
    for j in dfs.isnull().values:
        if np.array_equal(j, pattern1s.values[i]):
            counter += 1
    lister2s.append(counter)
lister2s

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [38]:
lister2a = []
for k in range(len(pattern2a)):
    counter2a = 0
    for m in dfa1.isnull().values:
        if np.array_equal(j, pattern2a.values[k]):
            counter2a += 1
    lister2a.append(counter)
lister2a

[0, 0, 0]

In [31]:
dfs1['county_name'].sort_values()

1666    Alameda
1085    Alameda
1671    Alameda
1248    Alameda
553     Alameda
         ...
2022       Yuba
2233       Yuba
1359       Yuba
765        Yuba
1721       Yuba
Name: county_name, Length: 1639, dtype: object

In [32]:
dfa1['county_name'].sort_values()

1711    Alameda
643     Alameda
1131    Alameda
461     Alameda
1809    Alameda
         ...
2268       Yuba
958        Yuba
892        Yuba
1642       Yuba
1643       Yuba
Name: county_name, Length: 1421, dtype: object

In [57]:
# Changing Percents to Decimals using function above
dfa1.percent_of_composite_results_21andup= (x for percent_decimal(x) in dfa1.percent_of_composite_results_21andup)

dfs1.percent_that_passed_reading_writing_standard_12thgrade=(percent_decimal(result1) for result1 in dfs1.percent_that_passed_reading_writing_standard_12thgrade)

dfs1.percent_that_passedorabove_math_standard_12thgrade=(percent_decimal(result2) for result2 in dfs1.percent_that_passedorabove_math_standard_12thgrade)

dfs1.percent_that_passed_reading_writing_standard_11thgrade=(percent_decimal(result3) for result3 in dfs1.percent_that_passed_reading_writing_standard_11thgrade)

dfs1.percent_that_passedorabove_math_standard_11thgrade = (percent_decimal(result4) for result4 in dfs1.percent_that_passedorabove_math_standard_11thgrade)

dfs1.percent_that_passed_both_12thgrade= (percent_decimal(result5) for result5 in dfs1.percent_that_passed_both_12thgrade)

dfs1.percent_that_passed_both_11thgrade= (percent_decimal(result6) for result6 in dfs1.percent_that_passed_both_11thgrade)

dfa1

SyntaxError: cannot assign to function call (<ipython-input-57-e16aea459571>, line 2)

In [55]:
#Changing objects to floats
dfs1._12th_grade_enrollment = dfs1._12th_grade_enrollment.astype(np.float64)

dfs1.test_taker_count_12thgrade = dfs1.test_taker_count_12thgrade.astype(np.float64)

dfs1.number_that_passed_reading_writing_standard_12thgrade = dfs1.number_that_passed_reading_writing_standard_12thgrade.astype(np.float64)

dfs1.number_that_passed_reading_writing_standard_12thgrade = dfs1.number_that_passed_reading_writing_standard_12thgrade.astype(np.float64)

dfs1.number_that_passed_reading_writing_standard_12thgrade = dfs1.number_that_passed_reading_writing_standard_12thgrade.astype(np.float64)

dfs1.percent_that_passed_reading_writing_standard_12thgrade = dfs1.percent_that_passed_reading_writing_standard_12thgrade.astype(np.float64)

dfs1.number_that_passedorabove_math_standard_12thgrade = dfs1.number_that_passedorabove_math_standard_12thgrade.astype(np.float64)

dfs1.percent_that_passedorabove_math_standard_12thgrade = dfs1.percent_that_passedorabove_math_standard_12thgrade.astype(np.float64)

dfs1.number_that_passed_both_12thgrade = dfs1.number_that_passed_both_12thgrade.astype(np.float64)

dfs1.percent_that_passed_both_12thgrade = dfs1.percent_that_passed_both_12thgrade.astype(np.float64)

dfs1._11th_grade_enrollment = dfs1._11th_grade_enrollment.astype(np.float64)

dfs1.test_taker_count_11thgrade = dfs1.test_taker_count_11thgrade.astype(np.float64)

dfs1.number_that_passed_reading_writing_standard_11thgrade = dfs1.number_that_passed_reading_writing_standard_11thgrade.astype(np.float64)

dfs1.percent_that_passed_reading_writing_standard_11thgrade = dfs1.percent_that_passed_reading_writing_standard_11thgrade.astype(np.float64)

dfs1.number_that_passedorabove_math_standard_11thgrade = dfs1.number_that_passedorabove_math_standard_11thgrade.astype(np.float64)

dfs1.percent_that_passedorabove_math_standard_11thgrade = dfs1.number_that_passedorabove_math_standard_11thgrade.astype(np.float64)

dfs1.number_that_passed_both_11thgrade = dfs1.number_that_passed_both_11thgrade.astype(np.float64)

dfs1.percent_that_passed_both_11thgrade = dfs1.percent_that_passed_both_11thgrade.astype(np.float64)

dfs1.dtypes  
## Source for this code https://stackoverflow.com/questions/17950374/converting-a-column-within-pandas-dataframe-from-int-to-string

TypeError: float() argument must be a string or a number, not 'generator'

In [56]:
#Changing objects to floats
dfa1._12th_grade_enrollment = dfa1._12th_grade_enrollment.astype(np.float64)

dfa1.test_taker_count = dfa1.test_taker_count.astype(np.float64)

dfa1.average_reading_score = dfa1.average_reading_score.astype(np.float64)

dfa1.average_english_score = dfa1.average_english_score.astype(np.float64)

dfa1.average_math_score = dfa1.average_math_score.astype(np.float64)

dfa1.average_science_score = dfa1.average_science_score.astype(np.float64)

dfa1.average_science_score = dfa1.average_science_score.astype(np.float64)

dfa1.percent_of_composite_results_21andup = dfa1.percent_of_composite_results_21andup.astype(np.float64)

dfa1.number_of_composite_results_21andup = dfa1.number_of_composite_results_21andup.astype(np.float64)

# Source for this code https://stackoverflow.com/questions/17950374/converting-a-column-within-pandas-dataframe-from-int-to-string
dfa1.dtypes

TypeError: float() argument must be a string or a number, not 'generator'

In [ ]:
dfs1.test_taker_count_12thgrade.unique()

In [ ]:
# Sources use below to help create data dictionary#[data dictionary](http://library.ucmerced.edu/node/10249). 
#(https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html)

## Data Dictionary 

|Variable/Feature|Type|Dataset|Description|
|:---|:---|:---|:---|
|**county_district_school_code**|*float64*|*ACT*|*This is a unique identifier for each school by county, district, and school codes in California.*
|**county_code**|*float64*|*ACT*|*This is the unique identifier for counties in California.*
|**district_code**|*float64*|*ACT*|*This is the unique identifier for each school district in California.*
|**school_code**|*float64*|*ACT*|*This is the unique identifier for each school.*
|**record_type**|*object*|*ACT*|*The four values are C,D,S, & X, signifying where the information came in the data set. There is duplicate data as the schools are listed, then by county, and finally the state of California aggregate. C=County D=District S=School X=State*
|**school_name**|*object*|*ACT*|*This is the school's name*
|**district_name**|*object*|*ACT*|*This is the school district's name. If N/A is there, it may be a county level record.*
|**county_name**|*object*|*ACT*|*This is the county's name.*
|**_12th_grade_enrollment**|*float64*|*ACT*|The number of students enrolled in 12th grade in each unit whether it be school, county or state.*
|**test_taker_count**|*float64*|*ACT*|*The number of test takers at each unit.*
|**average_reading_score**|*float64*|*ACT*|*The average score on the reading section of the ACT at the school, county, or state level.*
|**average_english_score**|*float64*|*ACT*|*The average score on the English section of the ACT at the school, county, or state level.*
|**average_math_score**|*float64*|*ACT*|*The average score on the math section of the ACT at the school, county, or state level.*
|**average_science_score**|*float64*|*ACT*|*The average score on the science section of the ACT at the school, county, or state level.*
|**number_of_composite_results_21andup**|*float64*|*ACT*|*There are four sections on the ACT:reading, English, math, and science. These four sections are added together for the composite result. This lists the number of students who scored 21 and up.*There are four sections on the ACT:reading, English, math, and science. These four sections are added together for the composite result. This lists the number of students who scored 21 and up.*
|**percent_of_composite_results_21andup**|*float64*|*ACT*|*There are four sections on the ACT:reading, English, math, and science. These four sections are added together for the composite result. This lists the number of students who scored 21 and up.*There are four sections on the ACT:reading, English, math, and science. These four sections are added together for the composite result. This lists the percent in decimal value of students who scored 21 and up.*
**county_district_school_code**|*float64*|*SAT*|*This is a unique identifier for each school by county, district, and school codes in California.*
|**county_code**|*float64*|*SAT*|*This is the unique identifier for counties in California.*
|**district_code**|*float64*|SAT*|*This is the unique identifier for each school district in California.*
|**school_code**|*float64*|*SAT*|*This is the unique identifier for each school.*
|**record_type**|*object*|*SAT*|*The four values are C,D,S, & X, signifying where the information came in the data set. There is duplicate data as the schools are listed, then by county, and finally the state of California aggregate. C=County D=District S=School X=State*
|**school_name**|*object*|*SAT*|*This is the school's name or a county or district record.*
|**district_name**|*object*|*SAT*|This is the school district's name. It may be a county level record.|
|**county_name**|*object*|*SAT*|*This is the county's name.*
|**_12th_grade_enrollment**|*float64*|*SAT*|*The enrollment of Grade 12.*
|**test_taker_count_12thgrade**|*float64*|*SAT*|*The number of 12th Grade test takers.*
|**number_that_passed_reading_writing_standard_12thgrade**|*float64*|*SAT*|*The number meeting the Evidence-Based Reading & Writing (ERW) benchmark established by the College Board based on the New 2016 SAT test format as of March 2016 for Grade 12.*
|**percent_that_passed_reading_writing_standard_12thgrade**|*float64*|*SAT*|*The percent in decimal value of students who met or exceeded the benchmark for Evidence-Based Reading & Writing (ERW) test for Grade 12.*
|**number_that_passedorabove_math_standard_12thgrade**|*float64*|*SAT*|*The number of students who met or exceeded the benchmark for the New SAT Math test format as of March 2016 for Grade 12.*
|**percent_that_passedorabove_math_standard_12thgrade**|*float64*|*SAT*|*The percent in decimal value of students who met or exceeded the benchmark for SAT Math test for Grade 12.*
|**_11th_grade_enrollment**|*float64*|*SAT*|*Enrollment of Grade 11*
|**test_taker_count_11thgrade**|*float64*|*SAT*|*Number of Test Takers Grade 11*
|**number_that_passed_reading_writing_standard_11thgrade**|*float64*|*SAT*|*The number meeting the Evidence-Based Reading & Writing (ERW) benchmark established by the College Board based on the New 2016 SAT test format as of March 2016 for Grade 11.*
|**percent_that_passed_reading_writing_standard_11thgrade**|*float64*|*SAT*|*The percent in decimal value of students who met or exceeded the benchmark for Evidence-Based Reading & Writing (ERW) test for Grade 11.*
|**number_that_passedorabove_math_standard_11thgrade**|*float64*|*SAT*|The number of students who met or exceeded the benchmark for SAT Math test for Grade 11.|
|**percent_that_passedorabove_math_standard_11thgrade**|*float64*|*SAT*|*The percent in decimal value of students who met or exceeded the benchmark for SAT Math test for Grade 11.*
|**number_that_passed_both_12thgrade**|*float64*|*SAT*|The total number of students who met the benchmark of both Evidence-Based Reading & Writing (ERW) and Math Grade 12.|
|**percent_that_passed_both_12thgrade**|*float64*|*SAT*|The percent in decimal value of students who met the benchmark of both Evidence-Based Reading & Writing (ERW) and Math Grade 12.|
|**number_that_passed_both_11thgrade**|*float64*|*SAT*|*The total number of students who met the benchmark of both Evidence-Based Reading & Writing (ERW) and Math Grade 11.*
|**percent_that_passed_both_11thgrade**|*float64*|*SAT*|*The percent in decimal value of students who met the benchmark of both Evidence-Based Reading & Writing (ERW) and Math Grade 11.*|



## Exploratory Data Analysis

Complete the following steps to explore your data. You are welcome to do more EDA than the steps outlined here as you feel necessary:
1. Summary Statistics.
2. Use a **dictionary comprehension** to apply the standard deviation function you create in part 1 to each numeric column in the dataframe.  **No loops**.
    - Assign the output to variable `sd` as a dictionary where: 
        - Each column name is now a key 
        - That standard deviation of the column is the value 
        - *Example Output :* `{'ACT_Math': 120, 'ACT_Reading': 120, ...}`
3. Investigate trends in the data.
    - Using sorting and/or masking (along with the `.head()` method to avoid printing our entire dataframe), consider questions relevant to your problem statement. Some examples are provided below (but feel free to change these questions for your specific problem):
        - Which states have the highest and lowest participation rates for the 2017, 2019, or 2019 SAT and ACT?
        - Which states have the highest and lowest mean total/composite scores for the 2017, 2019, or 2019 SAT and ACT?
        - Do any states with 100% participation on a given test have a rate change year-to-year?
        - Do any states show have >50% participation on *both* tests each year?
        - Which colleges have the highest median SAT and ACT scores for admittance?
        - Which California school districts have the highest and lowest mean test scores?
    - **You should comment on your findings at each step in a markdown cell below your code block**. Make sure you include at least one example of sorting your dataframe by a column, and one example of using boolean filtering (i.e., masking) to select a subset of the dataframe.

In [40]:
#Exploratory Data Analysis Code:

dfa1.describe()

,county_district_school_code,county_code,district_code,school_code,_12th_grade_enrollment,test_taker_count,average_reading_score,average_english_score,average_math_score,average_science_score
count,1.421000e+03,1421.000000,1.421000e+03,1.071000e+03,1421.000000,1421.00000,1421.000000,1421.000000,1421.000000,1421.000000
mean,2.897503e+13,28.332160,2.783288e+06,2.156724e+06,1281.574243,230.65095,22.075299,21.204082,21.416608,21.356791
std,1.393990e+13,13.917393,1.464639e+06,1.753889e+06,13579.309646,2311.59682,3.673367,4.045587,3.380492,3.210470
min,0.000000e+00,0.000000,0.000000e+00,0.000000e+00,0.000000,15.00000,12.000000,10.000000,14.000000,12.000000
25%,1.964733e+13,19.000000,1.964535e+06,1.272290e+05,211.000000,35.00000,19.000000,18.000000,19.000000,19.000000
50%,3.066548e+13,30.000000,3.066431e+06,1.936947e+06,425.000000,67.00000,22.000000,21.000000,21.000000,21.000000
75%,3.773569e+13,37.000000,3.768411e+06,3.633154e+06,616.000000,132.00000,25.000000,24.000000,24.000000,24.000000
max,5.872770e+13,58.000000,5.872769e+06,6.120158e+06,489650.000000,82668.00000,32.000000,32.000000,32.000000,31.000000

In [44]:
dfs1._12th_grade_enrollment.describe()

count      1639.000000
mean       1136.413667
std       12649.002409
min          25.000000
25%         165.000000
50%         382.000000
75%         580.000000
max      489650.000000
Name: _12th_grade_enrollment, dtype: float64

**To-Do:** *Edit this cell with your findings on trends in the data (step 3 above).*

## Visualize the Data

There's not a magic bullet recommendation for the right number of plots to understand a given dataset, but visualizing your data is *always* a good idea. Not only does it allow you to quickly convey your findings (even if you have a non-technical audience), it will often reveal trends in your data that escaped you when you were looking only at numbers. It is important to not only create visualizations, but to **interpret your visualizations** as well.

**Every plot should**:
- Have a title
- Have axis labels
- Have appropriate tick labels
- Text is legible in a plot
- Plots demonstrate meaningful and valid relationships
- Have an interpretation to aid understanding

Here is an example of what your plots should look like following the above guidelines. Note that while the content of this example is unrelated, the principles of visualization hold:

![](https://snag.gy/hCBR1U.jpg)
*Interpretation: The above image shows that as we increase our spending on advertising, our sales numbers also tend to increase. There is a positive correlation between advertising spending and sales.*

---

Here are some prompts to get you started with visualizations. Feel free to add additional visualizations as you see fit:
1. Use Seaborn's heatmap with pandas `.corr()` to visualize correlations between all numeric features.
    - Heatmaps are generally not appropriate for presentations, and should often be excluded from reports as they can be visually overwhelming. **However**, they can be extremely useful in identify relationships of potential interest (as well as identifying potential collinearity before modeling).
    - Please take time to format your output, adding a title. Look through some of the additional arguments and options. (Axis labels aren't really necessary, as long as the title is informative).
2. Visualize distributions using histograms. If you have a lot, consider writing a custom function and use subplots.
    - *OPTIONAL*: Summarize the underlying distributions of your features (in words & statistics)
         - Be thorough in your verbal description of these distributions.
         - Be sure to back up these summaries with statistics.
         - We generally assume that data we sample from a population will be normally distributed. Do we observe this trend? Explain your answers for each distribution and how you think this will affect estimates made from these data.
3. Plot and interpret boxplots. 
    - Boxplots demonstrate central tendency and spread in variables. In a certain sense, these are somewhat redundant with histograms, but you may be better able to identify clear outliers or differences in IQR, etc.
    - Multiple values can be plotted to a single boxplot as long as they are of the same relative scale (meaning they have similar min/max values).
    - Each boxplot should:
        - Only include variables of a similar scale
        - Have clear labels for each variable
        - Have appropriate titles and labels
4. Plot and interpret scatter plots to view relationships between features. Feel free to write a custom function, and subplot if you'd like. Functions save both time and space.
    - Your plots should have:
        - Two clearly labeled axes
        - A proper title
        - Colors and symbols that are clear and unmistakable
5. Additional plots of your choosing.
    - Are there any additional trends or relationships you haven't explored? Was there something interesting you saw that you'd like to dive further into? It's likely that there are a few more plots you might want to generate to support your narrative and recommendations that you are building toward. **As always, make sure you're interpreting your plots as you go**.

In [ ]:
# Code

## Conclusions and Recommendations

Based on your exploration of the data, what are you key takeaways and recommendations? Make sure to answer your question of interest or address your problem statement here.

**To-Do:** *Edit this cell with your conclusions and recommendations.*

Don't forget to create your README!

**To-Do:** *If you combine your problem statement, data dictionary, brief summary of your analysis, and conclusions/recommendations, you have an amazing README.md file that quickly aligns your audience to the contents of your project.* Don't forget to cite your data sources!